<div class="container">
  <h2>
    Form
  </h2>
  <form (ngSubmit)="onSubmit(testForm)" #testForm="ngForm" >
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text"  class="form-control" required [(ngModel)]="det.name" name="name" #name="ngModel" >
      <label for="email"> Email </label>
      <input type="email" class="form-control" required [(ngModel)]="det.email" name="email" #email="ngModel">
      <label for="password"> Password </label>
      <input type="password" id="password" class="form-control" required [(ngModel)]="det.password" name="password" #password="ngModel">
      <button type="submit" class="btn btn-success"> Submit </button>
    </div>
  </form>
  <div>
    Name: {{det.name}} 
    <br>
    Email: {{det.email}}
  </div>
</div>


